* {
	margin: 0;
}
body {
	background: #80cdc6;

}
.cloud {
	position: absolute;
	width: 700px;
	left: 540px;
	top: -15px;
}

.water {
	position: absolute;
	width: 1550px;
	top: 1000px;
}

.wooden-ship {
	position: absolute;
	width: 280px;
	top: 740px;
	left: 84px;
}

.world {
	position: absolute;
	width: 100%;
	top: 200px;
}