* {
    left: 0;
    top: 0;
}

.main{
    width: 900px;
    height: 400px;
    background-color: rgb(49, 39, 38);
    padding: 30px 30px 30px 50px;
}
.burger-italian{
    font-size: 48px;
    color:  rgb(255, 255, 255);
    padding: 15px 0;
    font-style: italic bold;
    position: absolute;
    text-align: center;
    background-color: rgb(0, 0, 0);
    left: 45px;
    top: 140px;
    width: 350px;
}
.burger-italian span{
    color: rgb(239, 193, 55);
}

.burger{
    margin: 0 auto;
    padding: 15px 25px;
    width: 220px;
    float: left;
    font-style: bold;
    font-size: 24px;
    text-align: center;
}

.burger span{
    font-size: 18px;
    font-style: bold;
    font-family: Gill Sans Extrabold, sans-serif;
    color: rgb(219, 219, 219);
}

.burger-italian span, .burger-italian p{
    font-size: 24px;
    font-style: bold;
     font-family: Gill Sans Extrabold, sans-serif;
}
img{
    float: left;
    width: 350px;
    height: 388px;
}

.lovi-moment{
    padding: 20px 0 0 0;
    float: left;
    text-align: center;
    width: 550px;
    height: 368px;
    background-color: rgb(255, 255, 255);
    font-size: 18px;
}
